<div #resume>

  <h1>Header</h1>
  <!-- <svg viewBox="0 22.66 645.024 427.487" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <radialGradient gradientUnits="userSpaceOnUse" cx="272.289" cy="300.861" r="302.738" id="gradient-1">
        <stop offset="0" style="stop-color: rgb(97, 147, 246);"></stop>
        <stop offset="1" style="stop-color: rgba(40, 59, 95, 1)"></stop>
      </radialGradient>
      <linearGradient gradientUnits="userSpaceOnUse" x1="320.328" y1="42.987" x2="320.328" y2="431.838" id="gradient-0">
        <stop offset="0" style="stop-color: rgb(97, 147, 246);"></stop>
        <stop offset="1" style="stop-color: rgba(40, 59, 95, 1)"></stop>
      </linearGradient>
    </defs>
    <rect style="fill: rgb(58, 88, 222); stroke: rgb(29, 36, 32); opacity: 0.31;" x="19.774" y="41.978" width="605.476" height="388.851" rx="40" ry="40"></rect>
    <text style="fill: rgb(226, 107, 38); font-family: Arial, sans-serif; font-size: 53.3238px; white-space: pre;" transform="matrix(1.087681, 0, 0, 1.087694, 98.259544, 131.815414)">Skills</text>
  </svg> -->


</div>

<div>
  <svg viewBox="0 22.66 645.024 427.487" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com">
    <defs>
      <style bx:fonts="Noto Sans">@import url(https://fonts.googleapis.com/css2?family=Noto+Sans%3Aital%2Cwght%400%2C100%3B0%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C100%3B1%2C200%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&amp;display=swap);</style>
    </defs>
    <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 28px;" transform="matrix(1.087681, 0, 0, 1.087694, 208.840439, 271.402802)"> </text>
    <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 28px;" transform="matrix(1.087681, 0, 0, 1.087694, 186.180405, 391.049164)"> </text>
    <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 28px;" transform="matrix(1.087681, 0, 0, 1.087694, 351.145325, 267.777161)"> </text>
    <rect style="fill: rgb(58, 88, 222); opacity: 0.31; stroke: rgb(36, 29, 29);" x="19.774" y="41.978" width="605.476" height="388.851" rx="40" ry="40"></rect>
    <text style="fill: rgb(150, 150, 150); font-family: &quot;Noto Sans&quot;; font-size: 83px; white-space: pre;" x="92.306" y="137.725">Skills</text>
    <text style="fill: rgb(150, 150, 150); font-family: &quot;Noto Sans&quot;; font-size: 45.0494px; line-height: 72.0791px; paint-order: stroke markers; stroke-linecap: round; stroke-linejoin: round; stroke-width: 6.43567px; white-space: pre;" transform="matrix(1.087729, 0.02419, 0.002089, 1.087692, 91.898209, 199.180984)"><tspan dx="0.827 0.002 0 0 0 0 0 0 0 0 0 -56.663 46.663" dy="3.315 -0.834 0 0 0 0 0 0 0 0 0 -0.406 0.629">Angular ..... </tspan><tspan x="0" dy="1em">​</tspan><tspan>Spring boot</tspan><tspan x="0" dy="1em">​</tspan><tspan x="0" dy="1em">​</tspan></text>
  </svg>
</div>
<button type="submit" (click)="submit()">Submit</button>
