
<mat-toolbar color="primary"><span>Resume Builder</span>
  <span class="example-spacer"></span>
  <button mat-button (click)="downloadSample()">
    Download Sample
  </button>
</mat-toolbar>
<main class="container-fluid mat-app-background">
  <div class="h1 padding">Build Your Resume</div>
  <app-resume-ui></app-resume-ui>
</main>
<footer><mat-toolbar color="accent" style="height: 100px;">
  <span>created by &copy;Jinn </span>&nbsp;
  <a href="https://github.com/jithinnath">GitHub</a>
</mat-toolbar></footer>
