.margin {
  margin: 16px 64px;
}

.example-spacer {
  flex: 1 1 auto;
}
.padding {
  padding-top: 16px;
  padding-bottom: 16px;
}
.sticky-toolbar {
  position: fixed;
  z-index: 2;
}

footer {
  mat-toolbar {
    height: 100px;
    border-top: 1px solid #3d3939;

  }
}

header {
  mat-toolbar {
    height: 55px;
    border-bottom: 1px solid #3d3939;
  }
}
.toolbar-hidden-space {
  height: 65px;
}


