<div class="dashboard">
  <div>
    <div class="h3 padding">
      Saved data &nbsp;
      <a [routerLink]="['/create-resume']">Add new data and create new</a>
    </div>
    <!-- <button mat-stroked-button color="primary" (click)="addNewData()"> Add New</button> -->
  </div>
<div *ngIf="message">
  <div class="alert alert-success" role="alert">
   {{message}}
  </div>
</div>
  <ng-container *ngIf="resumes$ | async as resumes; else loading">
    <ng-container *ngIf="resumes?.length; else nodata">
      <div class="grid-container">
        <ng-container *ngFor="let resume of resumes; let i = index">
          <mat-card class="grid-item">
            <mat-card-header>
              <!-- <mat-card-title>{{resume?.name||'not specified'}}</mat-card-title> -->
              <mat-card-title-group>
                <mat-card-title>{{ resume?.name }}</mat-card-title>
                <mat-card-subtitle>{{ resume?.personalDetails?.jobTitle }}</mat-card-subtitle>
                <img mat-card-md-image src="{{ resume?.personalDetails?.profileImg }}" alt="Profile image of user" />
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <p>{{ resume?.personalDetails?.profileDescription }}</p>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-stroked-button color="warn" (click)="delete(resume)">DELETE</button>
              <button mat-stroked-button color="accent" (click)="edit(resume)">EDIT</button>
              <button mat-stroked-button color="primary" (click)="download(resume)">DOWNLOAD</button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <p>loading...</p>
  </ng-template>
  <ng-template #nodata>
    <p>No saved data foud...</p>
    <p>Tap to add data.</p>
  </ng-template>
  <br />
  <div class="align">
    <button mat-raised-button color="primary" (click)="addNewData()">Add New</button>
  </div>
</div>
