@use '@angular/material' as mat;

@include mat.core();

// mat.$teal-palette
// mat.$blue-palette,800
//mat.$blue-grey-palette,500
$my-primary: mat.define-palette(mat.$purple-palette,A200, 800);//mat.define-palette(mat.$blue-palette, A200, 800);
$my-accent:mat.define-palette(mat.$teal-palette,A200, A100, A400); //mat.define-palette(mat.$green-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

$card-header-bg: #3d3b3b;

//"default", "lighter", "darker", and "text"
@mixin primary-bg {
  background-color: mat.get-color-from-palette($my-primary);
}
@mixin accent-bg {
  background-color: mat.get-color-from-palette($my-accent);
}
@mixin primary {
  color: mat.get-color-from-palette($my-primary, 'lighter');
}

@mixin accent {
  color: mat.get-color-from-palette($my-accent, '500-contrast');
}

$primary: mat.get-color-from-palette($my-primary,'lighter');//, '500-contrast');
$accent: mat.get-color-from-palette($my-accent, 'lighter');
